doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Pong
    body 
        .window-game
            .score
                p#score-1 
                p#score-2 
            canvas#game(height=100, width=100)
        .window-settings
            #title
                h1 pong.
            #settings
                label(for="speed") Speed 
                p#val-speed 100
                input.slider.option(type="range", name="speed", min="1", max="500", value=100, onInput="updateVal(this.name, this.value)")
                label(for="color1") First color 
                p#val-color1 #000000
                input.option(type="color", name="color1", value="#000000", onInput="updateVal(this.name, this.value)")
                label(for="color2") Second color 
                p#val-color2 #ffffff
                input.option(type="color", name="color2", value="#ffffff", onInput="updateVal(this.name, this.value)")
                label(for="balls") Number of balls
                p#val-balls 1
                input.slider.option(type="range", name="balls", min="1", max="5", value=1, onInput="updateVal(this.name, this.value)")
                label(for="width") Field width 
                p#val-width 20
                input.option#width-input(type="range", name="width", min="7", max="1000", value=20, onInput="updateVal(this.name, this.value)")
            #footer
                button#start-btn(onClick="gameInit()") Start
        script(src="main.js") 